# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.db
